<!doctype html>
<title>Hello from Ladata</title>

{% from "_macros.html" import render_dict %}

<h1>State</h1>
{{ render_dict(state) }}

<h1>Tasks</h1>

<ul>
    {% for task_alias in tasks.keys() %}
    <li><a href="{{ url_for('management.runtask', task_alias=task_alias) }}">{{ task_alias }}</a></li>
    {% endfor %}
</ul>

<h1>Running tasks</h1>

<ul>
    {% for task in running_tasks.keys() %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>
