
<script>

	import { onMount } from "svelte";
	export let socket;

	import yaml from "js-yaml"

	let state = "Connecting to server...";

	onMount(async function() {
		console.log("STATE LOADED");
		await update_state()
	});

	async function update_state() {
		const state_response = await fetch("http://localhost:8000/manage/state");
		const json_state = await state_response.json();
		state = yaml.dump(json_state);
	}

	socket.on("state_changed", function(message) {
		console.log("NEW STATE");
		update_state()
	});

	socket.on("connect", function(message) {
		update_state()
	});


</script>

<h2>State</h2>
<pre>
{state}
</pre>
