
<script>

	import { onMount } from "svelte";
	export let socket;
	import yaml from "js-yaml"

	let runs = {}

	onMount(async function() {
		await update_all_runs()
	});

	async function update_all_runs() {
		const runs_response = await fetch("http://localhost:8000/manage/runs");
		console.log(runs_response)
		const json_runs = await runs_response.json();
		runs = json_runs
	}

	function start_run(task_alias) {
		console.log("XXXX" + task_alias)
		const response = fetch('http://localhost:8000/manage/run/'+task_alias, {
			method: 'post'
		});
		console.log("task executed "+response)
	}

	socket.on("run_started", function(message) {
		console.log("run started" + message);
		update_all_runs()
	});

	socket.on("run_finished", function(message) {
		console.log("run finished" + message);
		update_all_runs()
	});

	socket.on("connect", function(message) {
		update_all_runs()
	});

</script>

<h2>Tasks</h2>

<ul>
{#each Object.entries(runs) as run}

<li><a on:click="{()=>start_run(run[0])}" href="http://localhost:3000">{run[0]}</a>: {run[1].status}

{/each}
</ul>
