<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<script>

	import io from "socket.io-client";
	import { onMount } from "svelte";

	const socket = io('http://localhost:8000');

	import Tasks from './_tasks.svelte';
	import State from './_state.svelte';

	onMount(async function() {
		console.log("Page loaded");
		socket.open()
	});

	socket.on("disconnect", function(message) {
		console.log("DISCONNECTED");
	});
	socket.on("connect", function(message) {
		console.log("CONNECTED");
	});

	import { onDestroy } from "svelte";

	onDestroy(() => {
		console.log('the component is being destroyed');
		socket.close();
	});

</script>


<svelte:head>
	<title>Ladata web UI</title>
</svelte:head>

<h1>Ladata</h1>


<Tasks socket="{socket}"></Tasks>

<State socket="{socket}"></State>
